<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/side-bar') %>
    <div class="content">
        <h4 class="text-center mt-1">Satışlar</h4>
        
        <div class="d-flex justify-content-between">
            <div class="row w-100">
                <div class="col-md-8">
                    <form id="filterForm" method="get" action="/admin/purchases">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="startDate" class="form-label">Başlangıç Tarihi</label>
                                <input type="date" id="startDate" name="startDate" class="form-control">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="endDate" class="form-label">Bitiş Tarihi</label>
                                <input type="date" id="endDate" name="endDate" class="form-control">
                            </div>
                            <div class="col-md-4 mb-3 d-flex align-items-end justify-content-around">
                                <button type="submit" class="btn btn-danger">Filtrele</button>
                                <a href="/admin/purchases" class="btn btn-primary">Sıfırla</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <div class="d-flex align-items-end pt-3 w-100">
                        <input type="text" id="searchInput" class="form-control" placeholder="Sipariş Kodu">
                    </div>
                </div>
                <div class="col-md-2  d-flex align-items-end">
                    <div class="d-flex align-items-center w-100">
                        <a href="/admin/purchase/create" class="btn customerAdd">Sipariş Oluştur <i class="bi bi-plus-circle"></i></a>
                    </div>
                </div>
            </div>
          
           
            
        </div>
        <hr>
        <div class="dealers-content mt-3 table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>Kod</th>
                    <th>Durum</th>
                    <th>Ödeme Durumu</th>
                    <th>Hizmet</th>
                    <th>Satın Alma Tarihi</th>
                    <th>Bayi</th>
                    <th>Müşteri</th>
                    <th>Ödeme Linki</th>
                </thead>
                <tbody id="tableBody">
                    <% purchases.forEach(purchase => { %>
                        <tr>
                            <td><%= purchase.purchaseCode %></td>
                            <td>
                                <form method="POST" action="/admin/purchase/update/<%= purchase.purchaseCode %>">
                                    <select name="status" class="status-select status" onchange="this.form.submit()">
                                        <option value="Onay Bekliyor" <%= purchase.status === "Onay Bekliyor" ? "selected" : "" %>>Onay Bekliyor</option>
                                        <option value="Onaylandı" <%= purchase.status === "Onaylandı" ? "selected" : "" %>>Onaylandı</option>
                                        <option value="İşlemde" <%= purchase.status === "İşlemde" ? "selected" : "" %>>İşlemde</option>
                                        <option value="Tamamlandı" <%= purchase.status === "Tamamlandı" ? "selected" : "" %>>Tamamlandı</option>
                                        <option value="İptal Edildi" <%= purchase.status === "İptal Edildi" ? "selected" : "" %>>İptal Edildi</option>
                                        <option value="İade Edildi" <%= purchase.status === "İade Edildi" ? "selected" : "" %>>İade Edildi</option>
                                    </select>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="/admin/purchase/update/<%= purchase.purchaseCode %>">
                                    <select name="paymentStatus" class="status-select text-dark" style="background-color: rgb(208, 208, 208) !important;" onchange="this.form.submit()">
                                        <option value="Success" <%= purchase.paymentStatus === "Success" ? "selected" : "" %>>Ödeme Başarılı</option>
                                        
                                        <option value="Fail" <%= purchase.paymentStatus === "Fail" || purchase.paymentStatus === "Error" ? "selected" : "" %>>Ödeme Başarısız</option>

                                        <option value="Payment send." <%= purchase.paymentStatus === "Payment send." ? "selected" : "" %>>Ödeme Bekleniyor</option>

                                        <option value="transfer expected" <%= purchase.paymentStatus === "transfer expected" ? "selected" : "" %>>Havale Bekleniyor</option>

                                        <option value="Success" <%= purchase.paymentStatus === "transfer success" ? "selected" : "" %>>Havale Başarılı</option>

                                        <option value="" <%= purchase.paymentStatus !== null && !["Success", "Fail", "Payment send.", "transfer expected", "transfer success","Error"].includes(purchase.paymentStatus) ? "selected" : "" %>>Başarısız İşlem</option>

                                        <option value="" <%= purchase.paymentStatus === null ? "selected" : "" %>>-</option>
                                    </select>
                                </form>
                            </td>
                            <td><%= purchase.name %></td>
                            <td>
                                <% const date = new Date(purchase.purchaseDate); %>
                                <%= date.getDate().toString().padStart(2, '0') %>/<%= (date.getMonth() + 1).toString().padStart(2, '0') %>/<%= date.getFullYear() %>
                            </td>
                            <td><a href="/admin/dealer/details/<%= purchase.customer.addedBy.dealerCode %>"><%= purchase.customer.addedBy.firstName %> <%= purchase.customer.addedBy.lastName %></a></td>
                            <td>
                                <a href="/customer/details/<%= purchase.customer.customerCode %>"><%= purchase.customer.firstName %> <%= purchase.customer.lastName%></a>
                            </td>
                            <td>
                                <% let latestActiveLink = null; %>
                                <% let foundActiveLink = false; %>
                                <% links.forEach(link => { %>
                                    <% if (link.purchase.toString() === purchase._id.toString() && link.isActive === "true") { %>
                                        <% if (!foundActiveLink || (latestActiveLink && link.createdAt > latestActiveLink.createdAt)) { %>
                                            <% latestActiveLink = link; %>
                                            <% foundActiveLink = true; %>
                                        <% } %>
                                    <% } %>
                                <% }) %>
                                <% if (foundActiveLink) { %>
                                    <a href="<%= latestActiveLink.link %>">Linke Git</a>
                                <% } else { %>
                                    <a href="/payment-link-create?purchaseId=<%=purchase._id %>">Link Oluştur</a>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <div class="modal" tabindex="-1" id="paymentModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <i class="bi bi-check-circle ms-auto me-auto mt-3" style="color: green; font-size: 70px;"></i>
                    <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                    <h2 class="my-3">Link Oluşturuldu!</h2>
                    <p>Ödeme linkini kaybetmeyiniz 24 saat geçerlidir.</p>
                    <p id="paymentLink"></p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <% if (isAdmin) { %>
                            <a href="/admin/purchases" class="btn btn-primary">Ok</a>
    
                        <% } %>
                        <% if (isDealer) { %>
                            <a href="/user/purchases" class="btn btn-primary">Ok</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

       <%- include('../../partials/pagination') %>
    </div>
    <%- include('../../partials/script') %>
    <script src="/static/js/style.js"></script>
    <script src="/static/js/inputDate.js"></script>

   <script>
        // const showModal = () => {
        //     new bootstrap.Modal(document.getElementById("paymentModal")).show();
        // }

        // const urlParams = new URLSearchParams(window.location.search);
        // const link = urlParams.get('isActive');
       
        // if (link) {
        //     showModal();
        // }
    const selects = document.querySelectorAll(".status");
    const selectColor = () =>{
        const selects = document.querySelectorAll(".status");
        selects.forEach((select)=>{
            select.classList.remove("bg-warning", "bg-info", "bg-primary", "bg-success", "bg-secondary", "bg-danger", "bg-light");
            if(select.value === "Onay Bekliyor"){
                select.classList.add("bg-warning")
            }else if(select.value === "Onaylandı"){
                select.classList.add("bg-info")
            }else if(select.value === "İşlemde"){
                select.classList.add("bg-primary")
            }else if(select.value === "Tamamlandı"){
                select.classList.add("bg-success")
            }else if(select.value === "İptal Edildi"){
                select.classList.add("bg-secondary")
            }else if(select.value === "İade Edildi"){
                select.classList.add("bg-danger")
            }else{
                select.classList.add("bg-light")
            }
        })
    }
    document.addEventListener("DOMContentLoaded",()=>{
        selectColor();
    })
    selects.forEach(select=>{
        select.addEventListener("change",selectColor)
    })
   
   </script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('a[href*="/payment-link-create"]').forEach(button => {
            button.addEventListener('click', async (event) => {
                event.preventDefault(); 

                const purchaseId = new URL(event.target.href).searchParams.get('purchaseId');

                try {
                    const response = await fetch(`/payment-link-create?purchaseId=${purchaseId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    const data = await response.json();

                    if (data.success) {
                        document.getElementById('paymentLink').innerHTML = `<a href="${data.link}" target="_blank">${data.link}</a>`;
                        new bootstrap.Modal(document.getElementById('paymentModal')).show();
                    } else {
                        alert(data.message || 'Bir hata oluştu.');
                    }
                } catch (error) {
                    console.error('Fetch error:', error);
                    alert('Bir hata oluştu.');
                }
            });
        });
    });
</script>
<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        var filter = document.getElementById('searchInput').value.toLowerCase();

        function getPaymentLinkHtml(purchaseId, links) {
            let latestActiveLink = null;
            let foundActiveLink = false;

            links.forEach(link => {
                if (link.purchase.toString() === purchaseId.toString() && link.isActive === "true") {
                    if (!foundActiveLink || (latestActiveLink && link.createdAt > latestActiveLink.createdAt)) {
                        latestActiveLink = link;
                        foundActiveLink = true;
                    }
                }
            });

            if (foundActiveLink) {
                return `<a href="${latestActiveLink.link}">Linke Git</a>`;
            } else {
                return `<a href="/payment-link-create?purchaseId=${purchaseId}">Link Oluştur</a>`;
            }
        }

        fetch(`/admin/purchases?query=${filter}`)
            .then(response => response.json())
            .then(data => {
                var tbody = document.getElementById('tableBody');
                tbody.innerHTML = '';

                data.purchases.forEach(purchase => {
                    var row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${purchase.purchaseCode}</td>
                        <td>
                            <form method="POST" action="/admin/purchase/update/${purchase.purchaseCode}">
                                <select name="status" class="status-select status" onchange="this.form.submit()">
                                    <option value="Onay Bekliyor" ${purchase.status === "Onay Bekliyor" ? "selected" : ""}>Onay Bekliyor</option>
                                    <option value="Onaylandı" ${purchase.status === "Onaylandı" ? "selected" : ""}>Onaylandı</option>
                                    <option value="İşlemde" ${purchase.status === "İşlemde" ? "selected" : ""}>İşlemde</option>
                                    <option value="Tamamlandı" ${purchase.status === "Tamamlandı" ? "selected" : ""}>Tamamlandı</option>
                                    <option value="İptal Edildi" ${purchase.status === "İptal Edildi" ? "selected" : ""}>İptal Edildi</option>
                                    <option value="İade Edildi" ${purchase.status === "İade Edildi" ? "selected" : ""}>İade Edildi</option>
                                </select>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="/admin/purchase/update/${purchase.purchaseCode}">
                                <select name="paymentStatus" class="status-select text-dark" style="background-color: rgb(208, 208, 208) !important;" onchange="this.form.submit()">
                                    <option value="Success" ${purchase.paymentStatus === "Success" ? "selected" : ""}>Ödeme Başarılı</option>
                                    <option value="Fail" ${purchase.paymentStatus === "Fail" ? "selected" : ""}>Ödeme Başarısız</option>
                                    <option value="Payment send." ${purchase.paymentStatus === "Payment send." ? "selected" : ""}>Ödeme Bekleniyor</option>
                                    <option value="" ${purchase.paymentStatus === null ? "selected" : ""}>-</option>
                                </select>
                            </form>
                        </td>
                        <td>${purchase.name}</td>
                        <td>${new Date(purchase.purchaseDate).toLocaleDateString('tr-TR')}</td>
                        <td><a href="/admin/dealer/details/${purchase.customer.addedBy.dealerCode}">${purchase.customer.addedBy.firstName} ${purchase.customer.addedBy.lastName}</a></td>
                        <td>
                            <a href="/customer/details/${purchase.customer.customerCode}">${purchase.customer.firstName} ${purchase.customer.lastName}</a>
                        </td>
                        <td>
                            ${getPaymentLinkHtml(purchase._id, data.links)}
                        </td>
                    `;
                    tbody.appendChild(row);
                });
                selectColor();
            })
            .catch(error => console.error('Error:', error));
            
    });
</script>
</body>
</html>